body {
  padding-top: 40px;
}

.starter-template {
  padding: 20px 15px;
  text-align: center;
}

table {
  text-align: left;
}

div.thumbnail img {
  max-height: 200px;
}

div.form-inline form {
  display: inline;
}

div.labels {
  position: absolute;
}

div.labels span.badge {
  display: block;
}

span.badge.badge-success {
  color: #fff;
  background-color: #28a745;
}

span.badge.badge-warning {
  color: #fff;
  background-color: #dc3545;
}

span.badge.badge-danger {
  color: #212529;
  background-color: #ffc107;
}

div.filters {
  padding-bottom: 5px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

a {
  text-decoration: none;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  flex-wrap: nowrap;
}
.badge {
  color: black;
}


